body {
  background-color: hsl(216, 12%, 8%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(217, 12%, 63%);
}

.first {
  background-color: hsl(213, 19%, 18%);
  margin: auto;
  padding: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}

/* .star {
  background-color: hsl(213, 19%, 18%);
  border-radius: ;
} */

.text {
  text-align: center;
  width: 60%;
}

.submit {
  margin-top: 20px;
}

.star {
  margin-left: -48%;
  margin-top: 20px;
  background-color: hsl(213, 19%, 30%);
  border-radius: 100%;
  padding: 10px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.rates {
  border-radius: 80%;
  font-weight: 700px;
  background-color: hsl(213, 19%, 30%);
  border-color: transparent;
  color:/* hsl(217, 12%, 63%)*/ white;
  padding: 5px 15px;
}

.rates:hover {
  background-color: hsl(25, 97%, 53%);
  cursor: pointer;
  color: white;
}

.one {
  border-radius: 80%;
  font-weight: 700px;
  background-color: hsl(213, 19%, 30%);
  border-color: transparent;
  color:/* hsl(217, 12%, 63%)*/ white;
  padding: 5px 15px;
}

.rating {
  display: flex;
  gap: 15px;
}

.submit {
  width: 70%;
  border-radius: 40px;
  background-color: hsl(25, 97%, 53%);
  color: white;
  padding: 0.5rem;
  letter-spacing: 0.2rem;
  border-color: transparent;
  margin-bottom: 20px;
}

.submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

h1 {
  color: white;
}

.second {
  background-color: hsl(213, 19%, 18%);
  margin: auto;
  padding: auto;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.selection {
  background-color: hsl(213, 19%, 30%);
  color: hsl(25, 97%, 53%);
  border-radius: 20px;
  padding: 0.2px 5px;
  margin: 10px 0px;
}

.thanks {
  margin-top: 20px;
}

#appreciate {
  width: 60%;
  text-align: center;
}
.second {
  display: none;
}

.one:hover {
  background-color: hsl(25, 97%, 53%);
}
